page-login {

    #b1 {
        width: 230%;
        height: 10px;
        background-color: none; 
    }

    #b2 {
	    padding-left: 22px;
	    padding-right: 0px;
    	margin-right: -51px;
	}

	#table {
	    padding-left: 22px;
	    padding-right: 0px;
	    margin-right: -51px;
	}

	#categry {
	    padding-left: 22px;
	    padding-right: 0px;
	    margin-right: -51px;
	}



    #rounded2 {
        width: 25%;
        height: 5px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 5px;
        margin-bottom: 0px; 
        background-color: white; 
    }

    #container {
        width: 300px; 
        margin-left:auto; 
        margin-right: auto; 
    }

 	button {
        width: 20%;
        height: 5px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 0px;
        border-radius: 5px;
        margin-bottom: 0px; 
        background-color: white; 
    }

   




}


