page-membersearch {

.header .col {
    background-color:lightgrey;
    text-align:center;
}

.col {
    
    
   
    
    text-align:center;
}

.col:last-child {
    
    
    
    text-align:center;
}

.row:last-child .col {
    
    
    
    text-align:center;
}
.label-md {
 margin: -1px 8px 4px 0;
}

}
