<ion-header>
  	<ion-navbar>
	  	<button ion-button menuToggle>
	      	<ion-icon name="menu"></ion-icon>
	    </button>
	    <ion-title>
	    	<ion-icon name ="logo-twitter" style="color:##DC143C; "></ion-icon><i style="color:#DC143C;">Buisness</i><i>Derectory</i></ion-title>
	    <ion-buttons end>
			<button ion-button icon-only (click)="back()" >
				<ion-icon name="arrow-back" style="padding: 8px;"></ion-icon>
			</button>
		</ion-buttons>
  	</ion-navbar>
  	<ion-card>
  		<form  >
			<ion-item style="padding-top:1px;padding-bottom:1px;">
				<ion-label floating style="color:#000;font-weight: bold;font-size: 15px;margin: -15px 8px -2px 0 !important;">Buisness</ion-label>
				<ion-input  type="text" name="buisness" [(ngModel)]="buisness" ></ion-input>
			</ion-item>
			<ion-item style="padding-top:1px;padding-bottom: 1px;">
				<ion-label floating style="color:#000;font-weight: bold;font-size: 15px;margin: -16px 8px -2px 0 !important;">Buisness City</ion-label>
				<ion-input type="text" name="bcity" [(ngModel)]="bcity"></ion-input>
			</ion-item>
			<ion-item style="text-align:center">
				<button (click)="search()" ion-button style="background-color: #DC143C; border-radius: 10px;width: 50%;float: center;padding:20px;"><p style="color:#fff;">Search</p></button>
			</ion-item>
		</form>
	</ion-card>
</ion-header>
<ion-content >
	
	<ion-grid>
		
			<ion-row   *ngFor="let user_dat of user_data" [ngStyle]="{'background-color' : user_dat.color}" >
				<ion-card style ="padding-bottom: 42px;">
				<!-- <ion-col style = "padding-top: 30px;" col-4 (click)="edit(user_dat.id);">
					<img src="" style="width: 80px;height: 80px;"/>
				</ion-col> -->
				<ion-col  col-8 (click)="edit(user_dat.id);" *ngIf="user_dat.buisness!=''" style="text-align: center;" >
						
						<ion-label  floating style="font-weight: bold;padding: 3px;font-size: 16px;margin-top: 0px;padding-bottom: 1px; text-align: left; color: #FF4500;"><i style="padding-left: 12px;">{{user_dat.buisness}}</i></ion-label>
						<!-- <ion-label floating style="padding: 3px;margin-top: 0px;margin-bottom: 1px;text-align: left;"><i style="padding-left: 12px;">{{user_dat.bcategory}}</i></ion-label> -->
						<ion-label  floating style="padding: 3px;margin-top: 1px;margin-bottom: 1px;text-align: left;"><i style="padding-left: 12px;">{{user_dat.bcity}}</i></ion-label>
						<ion-label  floating style="padding: 3px;margin-top: 1px;margin-bottom: 1px; border-bottom: 5px;text-align: left; color: #1E90FF; "><i style="padding-left: 12px;">{{user_dat.officeno}}</i></ion-label>
				</ion-col>
				</ion-card>
			</ion-row>
		
	</ion-grid>
	
</ion-content>